$button-registration-color: #fff;
$button-registration-background: #f2666f;
$button-registration-background-hover: #d72731;
$author-color-hover: #d72731;
$timer-color: #615859;
$timer-background-color: rgba(255, 255, 255, 0.9);
$menu-color-hover: #f2666f;
$subtitle-color: #615859;
$title-color: #615859;
$footer-border-color: #615859;
$footer-age-limit-color: #77b0b7;
$social-color: #f2666f;
$social-color-hover: #d72731;
